
@media only screen and (max-width: 1920px) {
    body{
      width:90%;
      margin-left:5%;
      margin-right:5%;
      background:RGB(60,150,100,0.6);
    }#navbar{
      position:fixed;
     
    }h1{
      text-align:center;
    }#projects{
      width:100%;
      position:relative;
      background:RGB(150,0,0,0.6);
      text-align:center;
    }a{
    position:relative;
    width:90%;
    height:100%;
    margin-top : 5%;
    margin-bottom: 5%;
    color:white;
    
    }img{
      width:90%;
      margin:5%;
    }h4{
      position:relative;
      height:10px;
      margin-top:10%;
    }
    }